#Python版本：3.14.5
accelerate==1.14.0
diffusers==0.39.0
matplotlib==3.10.9
matplotlib-inline==0.2.2
modelscope==1.38.1
modelscope-hub==0.1.7
numpy==2.4.6
sentence-transformers==5.6.0
torch==2.12.0+cu132
torchinfo==1.8.0
torchvision==0.27.0+cu132
torchviz==0.0.3
transformers==5.14.1
pillow==12.2.0
